.movie-list {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;

  &__empty-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #5d6b85;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: #ffffff;
    margin-left: 100px;
  }

  &__see-all {
    margin-left: 25px;
    background: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;

    transition: all 0.2s;
    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
  }

  &__cards {
    /*display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;*/
    margin-top: 35px;

    /*& > div {
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 60px;
    }*/
  }
}
